.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2944px;
	position:absolute;
}.e6_23 { 
	background-color:rgba(41.00000135600567, 65.0000037252903, 71.00000336766243, 1);
	width:1441px;
	height:508px;
	position:absolute;
	left:-1px;
	top:1928px;
}.e2_6 { 
	background-color:rgba(20.000000707805157, 60.00000022351742, 71.00000336766243, 1);
	width:1442px;
	height:526px;
	position:absolute;
	left:-1px;
	top:894px;
}.e6_36 { 
	color:rgba(255, 255, 255, 1);
	width:368px;
	height:244px;
	position:absolute;
	left:100px;
	top:988px;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e6_37 { 
	color:rgba(255, 255, 255, 1);
	width:149px;
	height:244px;
	position:absolute;
	left:740px;
	top:988px;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e2_5 { 
	background-color:rgba(55.00000052154064, 167.00000524520874, 198.00000339746475, 1);
	width:1441px;
	height:526px;
	position:absolute;
	left:-1px;
	top:368px;
}.e2_9 { 
	background-color:rgba(41.00000135600567, 65.0000037252903, 71.00000336766243, 1);
	width:1440px;
	height:131px;
	position:absolute;
	left:0px;
	top:237px;
}.e6_21 { 
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:46px;
	position:absolute;
	left:1085px;
	top:279px;
	font-family:Teko;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e6_20 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:46px;
	position:absolute;
	left:882px;
	top:279px;
	font-family:Teko;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e6_17 { 
	color:rgba(255, 255, 255, 1);
	width:271px;
	height:46px;
	position:absolute;
	left:312px;
	top:279px;
	font-family:Teko;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e6_18 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:46px;
	position:absolute;
	left:682px;
	top:279px;
	font-family:Teko;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e6_16 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:34px;
	position:absolute;
	left:80px;
	top:282px;
	font-family:Teko;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e2_3 { 
	background-color:rgba(41.00000135600567, 125.00000014901161, 148.000006377697, 1);
	width:1440px;
	height:237px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_8 { 
	background-color:rgba(121.00000038743019, 189.00000393390656, 208.0000028014183, 1);
	width:1441px;
	height:508px;
	position:absolute;
	left:-1px;
	top:1420px;
}.e6_40 { 
	width:1201px;
	height:410px;
	position:absolute;
	left:41px;
	top:1502px;
	background-image:url(images/rectangle_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_38 { 
	color:rgba(255, 255, 255, 1);
	width:585px;
	height:46px;
	position:absolute;
	left:241px;
	top:1457px;
	font-family:Teko;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e6_25 { 
	background-color:rgba(41.00000135600567, 125.00000014901161, 148.000006377697, 1);
	width:1441px;
	height:508px;
	position:absolute;
	left:0px;
	top:2436px;
}.e2_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:326px;
	height:326px;
	position:absolute;
	left:130px;
	top:468px;
}.2_4 { 
	border:7px solid rgba(20.000000707805157, 60.00000022351742, 71.00000336766243, 1);
}.e6_41 { 
	color:rgba(255, 255, 255, 1);
	width:254px;
	height:46px;
	position:absolute;
	left:465px;
	top:1961px;
	font-family:Teko;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e6_43 { 
	width:737px;
	height:366px;
	position:absolute;
	left:25px;
	top:2030px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_48 { 
	width:737px;
	height:366px;
	position:absolute;
	left:25px;
	top:2507px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_49 { 
	color:rgba(255, 255, 255, 1);
	width:81px;
	height:46px;
	position:absolute;
	left:643px;
	top:2457px;
	font-family:Teko;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e6_31 { 
	color:rgba(255, 255, 255, 1);
	width:689px;
	height:105px;
	position:absolute;
	left:553px;
	top:587px;
	font-family:Jost;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e3_11 { 
	width:424px;
	height:237px;
	position:absolute;
	left:509px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_45 { 
	width:505px;
	height:397px;
	position:absolute;
	left:775px;
	top:2020px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_47 { 
	width:429px;
	height:387px;
	position:absolute;
	left:928px;
	top:2502px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_50 { 
	width:312px;
	height:312px;
	position:absolute;
	left:137px;
	top:475px;
}.6_34 { 
	overflow:hidden;
	border:7px solid rgba(20.000000707805157, 60.00000022351742, 71.00000336766243, 1);
}.e6_34 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:312px;
	height:312px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_33 { 
	width:372px;
	height:363px;
	position:absolute;
	left:-37px;
	top:-44px;
	background-image:url(images/img_20230417_204229_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}